//  TEMAS

/// @group temas

/// Variables para controlar si quiero tema oscuro o claro
/// Tema claro (true para seleccionar)
$light-theme: false;
/// Tema oscuro (true para seleccionar)
$dark-theme: true;

/// Inicializo la variable que cambia en la página el color de fondo del menú (negro por defecto)
$fondo-menu: black;

/// Estructura de control que asigna a la variable $fondo-menu el valor adecuado en función si el tema es oscuro o claro

@if $light-theme {
  $fondo-menu: rgba(241, 229, 229, 0.774);
} @else if $dark-theme {
  $fondo-menu: rgba(51, 51, 51, 0.76);
}
